* 
{
	margin: 0;
	padding: 0;
	font-family: "Sofia", Verdana, sans-serif;
}

body 
{
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('../images/fiestalola.jpg');
	background-size: contain, 100%;
	overflow: auto;
}

.bcontainer
{
	margin: 20px 5% 20px 5%;
	border: 2px solid #138D75;
	width: 90%;
	box-sizing: border-box;
	color: #34495E;
	text-align: center;
	padding: 50px 20px 50px 20px;
	background-color: white;
	opacity: 0.8;
	border-radius: 5px;
}

h1
{
	font-size: 40px;	
}

h2
{
	font-size: 30px;
	margin-bottom: 20px;
}

@media only screen and (max-width:600px)
{
	h1
	{
		font-size: 30px;
	}
	
	h2
	{
		font-size: 20px;
	}

}
