* 
{
	margin: 0;
	padding: 0;
	font-family: "Sofia", sans-serif;
}

html
{
	height: 100%;
}

body 
{
	height: 100%;
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('../images/fiestalola.jpg');
	background-size: contain, 100%;
}

.bcontainer
{
	margin: 20px 5% 20px 5%;
	border: 2px solid #138D75;
	width: 90%;
	box-size: border-box;
	color: #34495E;
	text-align: center;
	padding: 50px 0 50px 0;
	background-color: white;
	opacity: 0.7;
	border-radius: 5px;
}
